{% extends "main.html" %}
{% block content %}
{% include "navbar.html" %}
	<div class="row pt-3">
		<div class="col">
			<h1>New  Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<form action="{{ url_for('newCategoryItem') }}" method = "POST">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" id="name" maxlength="50" class="form-control" name="name" placeholder="Name of the Item">
                </div>
                <div class="form-group">
					<label for="description">Description:</label>
					<textarea class="form-control" id="description" maxlength="250" rows="3" name="description" placeholder="Description of the item"></textarea>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select class="form-control" id="category" name="category">
                        <option>Select a Category</option>
                        {% for category in categories %}
                        <option>{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}